*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(background.jpg);
}
header{
    position: fixed;
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;
    padding: 20px,100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}
.logo{
    font-size: 2em;
    color: #fff;
    user-select: none;
}
.navigation{
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}
.navigation .btn{
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    transform: translateX(-10px);
    margin-left: 20px;
    font-weight: 500;
    transition: 0.5s;
}
.navigation .btn:hover{
    background: #fff;
    color: #333333;
}
.wrapper{
    position: relative;
    margin: 145;
    margin-left: 450;
    color: #fff;
    width: 400px;
    height: 440px;
    font-size: 15px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0, 0, 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: height .2s ease;
}
.wrapper.active{
    height: 520px;
}
.wrapper .icon-close{
    position: absolute;
    top: 0;
    right: 5;
    width: 45px;
    height: 45px;
    font-size: 2em;
    justify-content: center;
    color: #fff;
    display: flex;
    align-items: center;
}
.wrapper .from-box-login{
    width: 100%;
    padding: 40px;
}
.wrapper .active .from-box .login{
    transition: none;
    transform: translateX(-400px);
}
.wrapper .from-box .register{
    position: absolute;
    transform: translateX(400px);
    width: 80%;
}
.from-box-login h2{
    font-size: 2em;
    color: #fff;
    text-align: center;
}
.from-box-login{
    display: none;
}
.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #fff;
    margin: 30px, 0;
}
.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #fff;
    margin-bottom: 30px;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}
.input-box input:focus~label,
.input-box input:valid~label{
    display: none;
}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #fff;
    font-weight: 600;
    padding: 0, 35px, 0, 5px;
}
.input-box .icon{
    position: absolute;
    right: 8px;
    transform: translateY(12px);
    font-size: 1.2em;
    color: #fff;
    line-height: 57px;
    transition: .5ms;
}
.remember-forgot{
    font-size: 1em;
    color: #fff;
    font-weight: 500;
    margin: -15px, 0, 15px;
    display: flex;
    justify-content: space-between;
}
.remember-forgot label input{
    accent-color: #fff;
    margin-right: 3px;
}
.remember-forgot a{
    color: #fff;
    text-decoration: none;
    transform: translateX(25px);
}
.remember-forgot a:hover{
    text-decoration: underline;
}
.btn2{
    width: 100%;
    height: 45px;
    background: #333333;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
    transform: translateX(-25px);
}
.login-register{
    font-size: 1.1em;
    color: #fff;
    text-align: center;
    font-weight: 500;
    margin: 25px, 0, 10px;
}
.register-link{
    width: 100%;
    height: 45px;
    background: #333333;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
}
.register-link p a:hover{
    text-decoration: underline;
}
